* @mishana @benglewis @shmuelyo @tomerr-hirundo
.github/workflows/ @mishana @benglewis @ddishi @eayar123
#  ⬆️ Allow Eayar and Tamir Dishi to approve PRs with changes just to GitHub Actions workflows
pyproject.toml
hirundo/__init__.py
docs/_templates/github-pages-redirect.html
#  ⬆️ Allow changes to versions, but nothing else without CODEOWNERS
