name: Build and Push Docker Image

on:
  push:
    tags:
      - 'v*'
  pull_request:
    paths:
      - '.github/workflows/deploy-docker-image.yaml'
      - 'jupyter.Dockerfile'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Permission can be added at job level or workflow level
permissions:
  contents: read # This is required for actions/checkout
  packages: write # This is required for pushing to GitHub Container Registry

jobs:
  build-and-push:
      if: (startsWith(github.ref, 'refs/tags/v') && contains(github.ref, '+on-prem')) || github.event_name == 'pull_request'
      runs-on: ubuntu-latest

      steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
          platforms: linux/amd64
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache /home/nonroot/.cache/uv
        id: cache-uv
        uses: actions/cache@v4
        with:
          path: opt-uv
          key: opt-uv-${{ hashFiles('requirements/*') }}
      - name: inject uv cache into docker
        # v1 was composed of two actions: "inject" and "extract".
        # v2 is unified to a single action.
        uses: reproducible-containers/buildkit-cache-dance@v3.1.1
        with:
          cache-map: |
            {
              "opt-uv": "/home/nonroot/.cache/uv"
            }
          skip-extraction: ${{ steps.cache-uv.outputs.cache-hit }}
        # Credit to: https://docs.docker.com/build/ci/github-actions/cache/#cache-mounts &
        #            https://github.com/reproducible-containers/buildkit-cache-dance

      - name: Docker meta configuration for `hirundo-python-sdk` image
        id: python-sdk-meta
        uses: docker/metadata-action@v5
        with:
          images: |
            name=ghcr.io/hirundo-io/hirundo-python-sdk,enable=true
          tags: |
            type=match,pattern=v(.*)+on-prem,group=1,suffix=on-prem,enable=${{ github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/') && endsWith(github.ref, '+on-prem') }}
            type=raw,value=${{ github.head_ref }},enable=${{ github.event_name == 'pull_request' }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=min,compression=zstd
          file: jupyter.Dockerfile
          pull: true
          outputs: |
            type=image,compression=zstd,push=true
            type=docker,dest=hirundo-python-sdk.tar
          tags: ${{ steps.python-sdk-meta.outputs.tags }}
          labels: ${{ steps.python-sdk-meta.outputs.labels }}
          platforms: linux/amd64
      - uses: actions/cache@v4
        with:
          path: .trivy
          key: ${{ runner.os }}-trivy-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-trivy-
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.26.0
        env:
          TRIVY_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-db,public.ecr.aws/aquasecurity/trivy-db
        with:
          input: hirundo-python-sdk.tar
          trivy-config: trivy.yaml
          severity: HIGH,CRITICAL  # https://github.com/aquasecurity/trivy-action/issues/342
          cache-dir: .trivy
          timeout: 10m0s
      - name: Correct Trivy cache permissions
        run: sudo mkdir -p .trivy && sudo chown -R $USER:$GROUP .trivy
